.navbar-dark{
    background-color:#1b0088 !important ;
}

.container{
    font-style: normal;
    max-width: 1600px !important;
    }



.card:hover{
    box-shadow: 0 0 10px #1b0088;
}

.bg-secondary{
    background-color:#1b0088 !important ;
}

.btn-primary{
    background-color: #1b0088 !important ;
}
.btn-secondary{
    background-color: #1b0088 !important ;